<nav class="navbar navbar_container navbar-fixed-top ">
    <div class="container-fluid">

        <div class=" navbar-text pull-left wbdv-mar-left-0 ">
            <a ng-click="model.navigateBack()">
                <span class="glyphicon glyphicon-chevron-left wbdv-text-clr-white"></span>
            </a>
        </div>

        <div class="navbar-header navbar-link pull-left wbdv-mar-left-0">
            <span class="navbar-brand wbdv-text-clr-white " style="font-size: 20px; font-weight: bold;"> {{model.restaurantName}} </span>
        </div>


        <div class="navbar-text navbar-link pull-right visible-xs">
            <a ng-click="model.checkOut()">
                <span class="glyphicon glyphicon-shopping-cart wbdv-text-clr-white" title="Proceed to payment"></span>
            </a>
        </div>

        <div class="navbar-text navbar-link pull-right hidden-xs">
            <a ng-click="model.checkOut()">
                <span class=" wbdv-text-clr-white" title="checkOut">Proceed to Payment</span>
            </a>
        </div>

    </div>
    </div>
</nav>



<div class="container pageBackground" style="background-color:lightslategray;">

    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>
<div class="blackContainer">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-xs-3 col-sm-3">
            <img ng-src="https://eatstreet-static.s3.amazonaws.com/assets/images/restaurant_logos/the-no-1-food-16262_1402350187715.png" class="wbdv-menu-logo">

        </div>
        <div class="col-xs-7 col-sm-7" style="vertical-align: middle; margin-left:20px;">
            <!--<div class="row">-->
                <span >MY RESTAURANT..............</span>
            <br/>
            <!--</div>-->
            <!--<div class="row">-->
                <span>Restaurant address..............................</span>
            <!--</div>-->
        </div>

    </div>
    <div class="contentContainer">

        <div ng-repeat="mn in model.menu">
            <div class="row wbdv-pad-left-15 wbdv-mar-top-5" style="background-color: chocolate;height: auto; ">
                <div class="wbdv-text-clr-white" style="font-size: x-large;font-weight: bold; color: whitesmoke">{{mn.name}}</div>
                <div style="color: yellow;">
                    <span style="padding-bottom: 3px;">{{mn.description}}</span>
                </div>
            </div>

            <div class="row wbdv-mar-top-3">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="item in mn.items " style="background-color: black; color:black;">
                        <div class="row" style="height: auto">
                            <div class="col-xs-12 col-sm-12" data-toggle="collapse" data-target="#{{ item.apiKey}}" pull-left>
                                <div class="row wbdv-text-clr-white">
                                    <div class="col-xs-8 col-sm-6 pull-left">
                                        {{item.name}}
                                    </div>
                                    <div class="col-xs-4 col-sm-6 pull-right" style="width: 50px; text-align: justify; margin-right: 5px;">
                                        {{item.basePrice}}
                                    </div>
                                </div>
                            </div>
                            <div  id ="{{item.apiKey}}" class="collapse row container" style="margin-top:10px; margin-left: 5px; margin-right:5px;">
                                <div class="col-xs-6 col-sm-4 pull-right">
                                    <div class="col-xs-2 col-sm-1 pull-left" style="width: 30px;" >
                                        <a ng-click="model.increaseItemCount(mn.apiKey, item.apiKey, model.countCom, item.name, item.basePrice)">
                                            <span   class="glyphicon glyphicon-plus-sign wbdv-text-clr-white pull-left" style=" font-size: 20px;padding: 0px; margin:0px;"></span>
                                        </a>
                                    </div>



                                    <div  id = "{{'count-'+item.apiKey}}"  style="width: 30px;" class="col-xs-2 col-sm-2 wbdv-text-clr-white pull-right">

                                    </div>


                                    <div class="col-xs-2 col-sm-1 pull-right" style="width: 30px;">
                                        <a ng-click="model.decreaseItemCount(mn.apiKey, item.apiKey, model.countCom, item.name, item.basePrice)">
                                            <span   class="glyphicon glyphicon-minus-sign pull-right wbdv-text-clr-white " style="margin:0px;padding: 0px; font-size: 20px;"></span>
                                        </a>
                                    </div>
                                </div>









                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</div>





</div>


<nav class="navbar  navbar-fixed-bottom bg-primary" >
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xs-12" >
                <a href="#/user/123" class="wbdv-mar-right-5 pull-right">
                        <span class="glyphicon glyphicon-user wbdv-text-clr-white navbar-text">
                        </span>
                </a>
                <a ng-click="model.deleteUserProfile(model.user)" class="wbdv-mar-left-5 pull-left">
                        <span class="glyphicon glyphicon-trash wbdv-text-clr-white navbar-text">
                        </span>
                </a>
            </div>


        </div>
    </div>
</nav>