<nav class="navbar  navbar-fixed-top bg-primary">
    <div class="container-fluid" >
        <!--<div  class="navbar-text navbar-link pull-left">-->
            <!--<a href="#/owner/123">-->
                <!--<span class="glyphicon glyphicon-chevron-left wbdv-text-clr-white" title="Back"></span>-->
            <!--</a>-->
        <!--</div>-->
        <div class="navbar-header navbar-link pull-left wbdv-mar-left-0">
            <span class="navbar-brand wbdv-text-clr-white " style="font-size: 20px; font-weight: bold;">Your Restaurants </span>
        </div>
        <div  class="navbar-text navbar-link pull-right visible-xs">
            <a href="#/login">
                <span class="glyphicon glyphicon-log-out wbdv-text-clr-white" title="Log Out"></span>
            </a>
        </div>
        <div  class="navbar-text navbar-link pull-right visible-xs"  style="padding-right: 25px;">
            <a href="#/owner/123">
                <span class=" glyphicon glyphicon-user wbdv-text-clr-white" title="Profile"></span>
            </a>
        </div>

        <div  class="navbar-text navbar-link pull-right hidden-xs">
            <a href="#/login">
                <span class="wbdv-text-clr-white" title="Log Out">LogOut</span>
            </a>
        </div>
        <div  class="navbar-text navbar-link pull-right hidden-xs">
            <a href="#/owner/123">
                <span class="wbdv-text-clr-white" title="Profile" style="padding-right: 25px;">Profile</span>
            </a>
        </div>

    </div>
</nav>

<div class="container wbdv-pad-left-right wbdv-mar-top-50">

    <ul id="ownerRestaurantsRegistered" class="list-group">
        <li class="list-group-item"  style="color: black; background-color: lightslategray">
            <div class="row">
                <div class="col-xs-6 col-sm-8 pull-left">
                    Restaurants
                </div>

                <div class="col-xs-6 col-sm-4 pull-left">
                    Customer Reviews
                </div>

            </div>
        </li>
        <li class="list-group-item" style="background-color: white">
            <div class="row">
                <a  href="#/owner/123/restaurant/123/order">
                    <div class="col-xs-6 pull-left">
                        <span>AKKK</span>
                    </div>
                </a>

                <div class="col-xs-6 pull-left">
                    <div class="row">
                        <div class="col-xs-6 pull-right">
                            <a href="#/owner/123/restaurant/123">
                                <span class="glyphicon glyphicon-cog  pull-right "></span>
                            </a>
                        </div>

                        <div class="col-xs-6 pull-left">
                            <a href="">
                                <span class="glyphicon glyphicon-pencil pull-right" title="Customer Review"></span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </li>

        <li class="list-group-item" style="background-color: white">
            <div class="row">
                <a  href="#/owner/123/restaurant/123/order">
                    <div class="col-xs-6 pull-left">
                        <span>AKKK</span>
                    </div>
                </a>

                <div class="col-xs-6 pull-left">
                    <div class="row">
                        <div class="col-xs-6 pull-right">
                            <a href="#/owner/123/restaurant/123">
                                <span class="glyphicon glyphicon-cog  pull-right "></span>
                            </a>
                        </div>

                        <div class="col-xs-6 pull-right">
                            <a href="">
                                <span class="glyphicon glyphicon-pencil pull-right" title="Customer Review"></span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </li>

        <li class="list-group-item" style="background-color: white">
            <div class="row">
                <a  href="#/owner/123/restaurant/123/order">
                    <div class="col-xs-6 pull-left">
                        <span>AKKK</span>
                    </div>
                </a>

                <div class="col-xs-6 pull-left">
                    <div class="row">
                        <div class="col-xs-6 pull-right">
                            <a href="#/owner/123/restaurant/123">
                                <span class="glyphicon glyphicon-cog  pull-right "></span>
                            </a>
                        </div>

                        <div class="col-xs-6 pull-right">
                            <a href="">
                                <span class="glyphicon glyphicon-pencil pull-right" title="Customer Review"></span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </li>
    </ul>
</div>



<nav class="navbar  navbar-fixed-bottom bg-primary" >
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xs-12" >
                <a href="#/owner/123" class="wbdv-mar-right-5 pull-right">
                        <span class="glyphicon glyphicon-user wbdv-text-clr-white navbar-text">
                        </span>
                </a>
            </div>
        </div>
    </div>
</nav>